body {
    background-color: white;
    margin: 0;
    font-family: Verdana;
}

.header {
    background-color: #1e2a3a;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    font-size: large;
    text-wrap: nowrap;
}

.content {
    background-color: #f2f3f5;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-template-rows: repeat();
    grid-gap: 15px;
    width: 100%;
    font-size: large;
    grid-auto-flow: row;
}

.footer {
    background-color: #1e2a3a;
    color: white;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

/* @media (max-width: 480px) {
    .header {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .content {
        grid-flow: row;
    }
    
} */